In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot
%matplotlib inline

In [4]:
df=pd.read_csv('train.csv')

In [5]:
df.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTED_BY              29451 non-null  object
 1   UNDER_CONSTRUCTION     29451 non-null  int64
 2   RERA                   29451 non-null  int64
 3   BHK_NO.                29451 non-null  int64
 4   BHK_OR_RK              29451 non-null  object
 5   SQUARE_FT              29451 non-null  float64
 6   READY_TO_MOVE          29451 non-null  int64
 7   RESALE                 29451 non-null  int64
 8   ADDRESS                29451 non-null  object
 9   LONGITUDE              29451 non-null  float64
 10  LATITUDE               29451 non-null  float64
 11  TARGET(PRICE_IN_LACS)  29451 non-null  float64
dtypes: float64(4), int64(5), object(3)
memory usage: 2.7+ MB

In [7]:
df.describe()

,UNDER_CONSTRUCTION,RERA,BHK_NO.,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
count,29451.000000,29451.000000,29451.000000,2.945100e+04,29451.000000,29451.000000,29451.000000,29451.000000,29451.000000
mean,0.179756,0.317918,2.392279,1.980217e+04,0.820244,0.929578,21.300255,76.837695,142.898746
std,0.383991,0.465675,0.879091,1.901335e+06,0.383991,0.255861,6.205306,10.557747,656.880713
min,0.000000,0.000000,1.000000,3.000000e+00,0.000000,0.000000,-37.713008,-121.761248,0.250000
25%,0.000000,0.000000,2.000000,9.000211e+02,1.000000,1.000000,18.452663,73.798100,38.000000
50%,0.000000,0.000000,2.000000,1.175057e+03,1.000000,1.000000,20.750000,77.324137,62.000000
75%,0.000000,1.000000,3.000000,1.550688e+03,1.000000,1.000000,26.900926,77.828740,100.000000
max,1.000000,1.000000,20.000000,2.545455e+08,1.000000,1.000000,59.912884,152.962676,30000.000000

In [8]:
df.shape

(29451, 12)

In [9]:
## Missing value
df.isnull().sum()

POSTED_BY                0
UNDER_CONSTRUCTION       0
RERA                     0
BHK_NO.                  0
BHK_OR_RK                0
SQUARE_FT                0
READY_TO_MOVE            0
RESALE                   0
ADDRESS                  0
LONGITUDE                0
LATITUDE                 0
TARGET(PRICE_IN_LACS)    0
dtype: int64

In [10]:
df.head(2)

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0

In [11]:
df['SQUARE_FT'].unique()

array([1300.236407 , 1275.       ,  933.1597222, ..., 1022.641509 ,
        927.0790093,  896.7741935], shape=(19561,))

In [12]:
df['SQUARE_FT'].astype(int)

0        1300
1        1275
2         933
3         929
4         999
         ...
29446    2500
29447     769
29448    1022
29449     927
29450     896
Name: SQUARE_FT, Length: 29451, dtype: int64

In [13]:
##for float numbers we dont need to use str 
##df['SQUARE_FT'].astype(str).str.isnumeric().sum()

In [14]:
df['SQUARE_FT'].notna().sum()

np.int64(29451)

In [15]:
df['UNDER_CONSTRUCTION'].unique()

array([0, 1])

In [16]:
df['RERA'].unique()

array([0, 1])

In [17]:
df['BHK_NO.'].unique()

array([ 2,  3,  1,  4,  5,  6, 12,  8, 20, 10,  7,  9, 13, 17, 15, 11])

In [18]:
df['BHK_NO.'].astype(str).str.isnumeric().sum()

np.int64(29451)

In [19]:
df['BHK_OR_RK'].unique()

array(['BHK', 'RK'], dtype=object)

In [20]:
df['BHK_OR_RK']

0        BHK
1        BHK
2        BHK
3        BHK
4        BHK
        ...
29446    BHK
29447    BHK
29448    BHK
29449    BHK
29450    BHK
Name: BHK_OR_RK, Length: 29451, dtype: object

In [21]:
df.duplicated().sum()

np.int64(401)

In [22]:
df['POSTED_BY'].unique()
df['POSTED_BY'].value_counts()

POSTED_BY
Dealer     18291
Owner      10538
Builder      622
Name: count, dtype: int64

In [23]:
df['BHK_OR_RK'].unique()
df['BHK_OR_RK'].value_counts()

BHK_OR_RK
BHK    29427
RK        24
Name: count, dtype: int64

In [24]:
df['SQUARE_FT'].describe()

count    2.945100e+04
mean     1.980217e+04
std      1.901335e+06
min      3.000000e+00
25%      9.000211e+02
50%      1.175057e+03
75%      1.550688e+03
max      2.545455e+08
Name: SQUARE_FT, dtype: float64

In [25]:
df['READY_TO_MOVE'].unique()

array([1, 0])

In [26]:
df['RESALE'].unique()

array([1, 0])

In [27]:
df['ADDRESS'].value_counts().head(20)

ADDRESS
Zirakpur,Chandigarh                   509
Whitefield,Bangalore                  230
Raj Nagar Extension,Ghaziabad         215
Sector-137 Noida,Noida                139
New Town,Kolkata                      131
Jagatpura,Jaipur                      120
Rajarhat,Kolkata                      113
Thanisandra,Bangalore                 110
Noida Extension,Noida                 107
Baner,Pune                            101
Sector 88 Faridabad,Faridabad         100
Sector-75 Noida,Noida                  99
Sector 86 Faridabad,Faridabad          97
Ajmer Road,Jaipur                      96
Sector-150 Noida,Noida                 94
Sector-78 Noida,Noida                  91
Sarjapur Road,Bangalore                89
Electronics City Phase 1,Bangalore     87
Hebbal,Bangalore                       82
Kundli,Sonipat                         81
Name: count, dtype: int64

In [28]:
df['LONGITUDE'].describe()

count    29451.000000
mean        21.300255
std          6.205306
min        -37.713008
25%         18.452663
50%         20.750000
75%         26.900926
max         59.912884
Name: LONGITUDE, dtype: float64

In [29]:
df['LATITUDE'].describe()

count    29451.000000
mean        76.837695
std         10.557747
min       -121.761248
25%         73.798100
50%         77.324137
75%         77.828740
max        152.962676
Name: LATITUDE, dtype: float64

In [30]:
df['TARGET(PRICE_IN_LACS)'].describe()

count    29451.000000
mean       142.898746
std        656.880713
min          0.250000
25%         38.000000
50%         62.000000
75%        100.000000
max      30000.000000
Name: TARGET(PRICE_IN_LACS), dtype: float64

In [31]:
duplicates = df[df.duplicated()]

In [32]:
print(duplicates)

      POSTED_BY  UNDER_CONSTRUCTION  RERA  BHK_NO. BHK_OR_RK    SQUARE_FT  \
1904     Dealer                   1     0        3       BHK  1209.628644
2351     Dealer                   0     0        2       BHK   896.680112
2611     Dealer                   0     0        3       BHK  1350.256549
2618     Dealer                   1     0        2       BHK   800.000000
3211      Owner                   0     0        2       BHK   712.105799
...         ...                 ...   ...      ...       ...          ...
29321    Dealer                   0     1        1       BHK   649.641577
29345    Dealer                   1     1        3       BHK  1563.155686
29357     Owner                   0     1        3       BHK  1446.201311
29389   Builder                   1     0        3       BHK   979.290979
29410    Dealer                   1     0        1       BHK   650.022160

       READY_TO_MOVE  RESALE                        ADDRESS  LONGITUDE  \
1904               0       1              Salt Lake,Kolkata  22.541110
2351               1       1            Zirakpur,Chandigarh  30.662283
2611               1       1  Sector 78 Faridabad,Faridabad  28.380160
2618               0       1           Chandapura,Bangalore  12.800090
3211               1       1              BataNagar,Kolkata  22.506860
...              ...     ...                            ...        ...
29321              1       1            Zirakpur,Chandigarh  30.662283
29345              0       1        Sector-88 Mohali,Mohali  30.684523
29357              1       1          Sector-70 Noida,Noida  28.596320
29389              0       0                Barasat,Kolkata  22.747639
29410              0       1       Goregaon (West),Lalitpur  19.161955

        LATITUDE  TARGET(PRICE_IN_LACS)
1904   88.337780                  100.0
2351   76.822397                   28.9
2611   77.369936                   50.0
2618   77.711820                   27.0
3211   88.223965                   35.0
...          ...                    ...
29321  76.822397                   14.5
29345  76.691728                   74.5
29357  77.381430                   75.0
29389  88.600902                   27.9
29410  72.839616                   88.0

[401 rows x 12 columns]

In [33]:
duplicates_all = df[df.duplicated(keep=False)]
print(duplicates_all)

      POSTED_BY  UNDER_CONSTRUCTION  RERA  BHK_NO. BHK_OR_RK    SQUARE_FT  \
30       Dealer                   0     0        3       BHK  1400.107701
64        Owner                   0     0        3       BHK  1591.994542
83        Owner                   0     1        2       BHK  1150.086256
183      Dealer                   0     0        2       BHK  1192.000000
196      Dealer                   0     0        3       BHK  1575.157516
...         ...                 ...   ...      ...       ...          ...
29321    Dealer                   0     1        1       BHK   649.641577
29345    Dealer                   1     1        3       BHK  1563.155686
29357     Owner                   0     1        3       BHK  1446.201311
29389   Builder                   1     0        3       BHK   979.290979
29410    Dealer                   1     0        1       BHK   650.022160

       READY_TO_MOVE  RESALE                        ADDRESS  LONGITUDE  \
30                 1       1  Sector 84 Faridabad,Faridabad  28.404730
64                 1       1         Sector-137 Noida,Noida  28.506454
83                 1       1          Sector-74 Noida,Noida  28.577673
183                1       1          Nayapalli,Bhubaneswar  20.286571
196                1       1       Judges Enclave,Ghaziabad  28.666670
...              ...     ...                            ...        ...
29321              1       1            Zirakpur,Chandigarh  30.662283
29345              0       1        Sector-88 Mohali,Mohali  30.684523
29357              1       1          Sector-70 Noida,Noida  28.596320
29389              0       0                Barasat,Kolkata  22.747639
29410              0       1       Goregaon (West),Lalitpur  19.161955

        LATITUDE  TARGET(PRICE_IN_LACS)
30     77.367514                   52.0
64     77.409568                   70.0
83     77.389781                   60.0
183    85.810906                   59.6
196    77.416670                   70.0
...          ...                    ...
29321  76.822397                   14.5
29345  76.691728                   74.5
29357  77.381430                   75.0
29389  88.600902                   27.9
29410  72.839616                   88.0

[775 rows x 12 columns]

In [34]:
df = df.drop_duplicates()
df = df.reset_index(drop=True)

In [35]:
df.duplicated().sum()

np.int64(0)

In [36]:
df['LONGITUDE'].unique()

array([12.96991 , 12.274538, 12.778033, ..., 18.9737  , 17.357159,
       39.945409], shape=(4087,))

In [37]:
df['LATITUDE'].astype(int)

0        77
1        76
2        77
3        77
4        88
         ..
29045    78
29046   -86
29047    75
29048    80
29049    75
Name: LATITUDE, Length: 29050, dtype: int64

In [38]:
df['LATITUDE'].unique()

array([ 77.59796 ,  76.644605,  77.632191, ...,  73.3321  ,  76.841908,
       -86.150721], shape=(4078,))

In [52]:
df_clean=df.copy()

In [53]:
df_clean = df_clean[
    (df_clean['LATITUDE'] >= 6) & (df_clean['LATITUDE'] <= 38) &
    (df_clean['LONGITUDE'] >= 68) & (df_clean['LONGITUDE'] <= 98)
].reset_index(drop=True)

In [54]:
print(f"Rows after filtering: {len(df_clean)}")

Rows after filtering: 0

In [55]:
df_clean.duplicated().sum()

np.int64(0)

In [56]:
df['LATITUDE'].unique()

array([ 77.59796 ,  76.644605,  77.632191, ...,  73.3321  ,  76.841908,
       -86.150721], shape=(4078,))

In [57]:
print(df_clean['LATITUDE'].min(), df_clean['LATITUDE'].max())
print(df_clean['LONGITUDE'].min(), df_clean['LONGITUDE'].max())

nan nan
nan nan

In [58]:
(df_clean['LATITUDE'] >= 6) & (df_clean['LATITUDE'] <= 38) &
(df_clean['LONGITUDE'] >= 68) & (df_clean['LONGITUDE'] <= 98)

SyntaxError: invalid syntax (875833466.py, line 1)

In [59]:
df_clean.rename(columns={'LATITUDE': 'LONG_TEMP', 'LONGITUDE': 'LATITUDE'}, inplace=True)
df_clean.rename(columns={'LONG_TEMP': 'LONGITUDE'}, inplace=True)

In [60]:
df_clean = df_clean[
    (df_clean['LATITUDE'] >= 6) & (df_clean['LATITUDE'] <= 38) &
    (df_clean['LONGITUDE'] >= 68) & (df_clean['LONGITUDE'] <= 98)
].reset_index(drop=True)

print(f"Rows after filtering: {len(df_clean)}")

Rows after filtering: 0

In [61]:
print(df_clean['LATITUDE'].describe())
print(df_clean['LONGITUDE'].describe())

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: LATITUDE, dtype: float64
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: LONGITUDE, dtype: float64

In [63]:
df_clean.head()

Empty DataFrame
Columns: [POSTED_BY, UNDER_CONSTRUCTION, RERA, BHK_NO., BHK_OR_RK, SQUARE_FT, READY_TO_MOVE, RESALE, ADDRESS, LATITUDE, LONGITUDE, TARGET(PRICE_IN_LACS)]
Index: []

In [64]:
df.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5

In [65]:
df_copy=df.copy()

In [66]:
df_copy.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5

In [67]:
df['LONGITUDE'].unique()

array([12.96991 , 12.274538, 12.778033, ..., 18.9737  , 17.357159,
       39.945409], shape=(4087,))

In [68]:
print(df['LONGITUDE'].min(), df['LONGITUDE'].max())

-37.7130075 59.912884

In [69]:
(df_copy['LONGITUDE'] >= 68) & (df_copy['LONGITUDE'] <= 98)

0        False
1        False
2        False
3        False
4        False
         ...
29045    False
29046    False
29047    False
29048    False
29049    False
Name: LONGITUDE, Length: 29050, dtype: bool

In [72]:
df_copy['LATITUDE'], df_copy['LONGITUDE'] = df_copy['LONGITUDE'], df_copy['LATITUDE']

In [73]:
print(df_copy['LATITUDE'].min(), df_copy['LATITUDE'].max())
print(df_copy['LONGITUDE'].min(), df_copy['LONGITUDE'].max())

-37.7130075 59.912884
-121.7612481 152.962676

In [74]:
df_copy['LATITUDE'].unique()

array([12.96991 , 12.274538, 12.778033, ..., 18.9737  , 17.357159,
       39.945409], shape=(4087,))

In [76]:
df_copy['LONGITUDE'].unique()

array([ 77.59796 ,  76.644605,  77.632191, ...,  73.3321  ,  76.841908,
       -86.150721], shape=(4078,))

In [77]:
df_clean = df_copy[
    (df_copy['LATITUDE'] >= 6) & (df_copy['LATITUDE'] <= 38) &
    (df_copy['LONGITUDE'] >= 68) & (df_copy['LONGITUDE'] <= 98)
].reset_index(drop=True)

In [78]:
print(f"Rows after filtering: {len(df_clean)}")

Rows after filtering: 28795

In [79]:
print(df_copy['LATITUDE'].min(), df_copy['LATITUDE'].max())
print(df_copy['LONGITUDE'].min(), df_copy['LONGITUDE'].max())

-37.7130075 59.912884
-121.7612481 152.962676

In [80]:
print(df_clean['LATITUDE'].min(), df_clean['LATITUDE'].max())
print(df_clean['LONGITUDE'].min(), df_clean['LONGITUDE'].max())

8.513294 34.552275
69.104114 95.0

In [81]:
df_clean.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",77.597960,12.969910,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",76.644605,12.274538,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",77.632191,12.778033,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",77.344500,28.642300,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",88.484911,22.592200,60.5

In [82]:
df_clean.duplicated().sum()

np.int64(0)

In [83]:
df_clean['SQUARE_FT'].unique()

array([1300.236407 , 1275.       ,  933.1597222, ..., 1022.641509 ,
        927.0790093,  896.7741935], shape=(19417,))

In [84]:
df_clean['SQUARE_FT'].min()

3.0

In [85]:
df_clean['SQUARE_FT'].max()

254545454.5

In [86]:
df_clean[df_clean['SQUARE_FT'] <= 0]

Empty DataFrame
Columns: [POSTED_BY, UNDER_CONSTRUCTION, RERA, BHK_NO., BHK_OR_RK, SQUARE_FT, READY_TO_MOVE, RESALE, ADDRESS, LONGITUDE, LATITUDE, TARGET(PRICE_IN_LACS)]
Index: []

In [87]:
print((df_clean['SQUARE_FT'] == 3))

0        False
1        False
2        False
3        False
4        False
         ...
28790    False
28791    False
28792    False
28793    False
28794    False
Name: SQUARE_FT, Length: 28795, dtype: bool

In [90]:
df_clean[df_clean['SQUARE_FT'] < 100]

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
2079,Owner,0,0,2,BHK,5.000000,1,1,"Sector-29 Chandigarh,Chandigarh",76.777256,30.755000,45.0
2307,Owner,0,0,2,BHK,49.800797,1,1,"Civil Lines,Nagpur",79.069531,21.152819,30.0
2958,Owner,0,0,3,BHK,99.975006,1,1,"Bhatnagar Colony,Jind",76.323316,29.305611,40.0
3242,Owner,0,0,2,BHK,3.000000,1,1,"industrial area,Hajipur",87.287479,23.525713,12.0
4728,Owner,0,0,2,BHK,98.000784,1,1,"Dodhpur,Aligarh",77.782574,27.244478,50.0
9279,Owner,0,0,1,BHK,54.999450,1,1,"Sector-17 Vasundhara,Ghaziabad",77.355737,28.649273,35.0
9702,Owner,0,0,2,BHK,74.000987,1,1,"Baina Vasco,Goa",73.807730,15.395220,39.0
10324,Owner,0,0,1,BHK,55.000000,1,1,"Govardhan,Mathura",77.465069,27.494145,16.5
10356,Owner,1,1,2,BHK,70.883870,0,1,"Sangolda,Goa",73.805282,15.550351,48.8
10566,Owner,0,0,2,BHK,91.000091,1,1,"Swarna Jayanti Nagar,Aligarh",78.101489,27.892383,30.0
10959,Owner,0,0,1,BHK,49.000092,1,1,"kakinada,Kakinada",82.240758,16.979477,16.0
12628,Owner,0,0,1,BHK,80.000000,1,1,"Nhare Pune,Pune",73.847780,18.523610,24.0
13555,Owner,0,0,2,BHK,3.985594,1,1,"Amlidih,Raipur",81.676956,21.213822,24.9
14486,Owner,0,0,1,BHK,58.001436,1,1,"Assonora,Goa",73.898600,15.618700,21.0
14781,Owner,0,0,4,BHK,45.000191,1,1,"Swarn Jayanti Vihar,Kanpur",80.331110,26.472500,23.5
14913,Owner,0,0,1,BHK,10.979906,1,1,"Ganesh Colony,Jalgaon",75.770559,21.047939,27.3
15188,Owner,0,0,1,BHK,32.000000,1,1,"Makanpur,Ghaziabad",77.354534,28.636759,13.0
16866,Owner,0,0,2,BHK,80.000000,1,1,"Kamla Nagar,Agra",78.026673,27.221766,22.0
19769,Owner,1,0,1,BHK,60.001091,0,1,"Hanspuram,Kanpur",80.331110,26.472500,22.0
20047,Builder,1,1,1,BHK,90.252708,0,0,"Roha,Maharashtra",73.114700,18.454300,2.0
20130,Owner,0,0,1,BHK,31.780067,1,1,"Parthala Khanjarpur,Noida",77.400208,28.593122,16.6
23359,Owner,0,0,1,BHK,37.680696,1,1,"Munnu Khera,Lucknow",80.858175,26.823489,16.5
24016,Owner,0,0,2,BHK,9.397110,1,1,"Brajanathchak,Haldia",88.060000,22.030000,32.5
24059,Owner,0,0,1,BHK,32.000000,1,1,"Sector-118 Noida,Noida",77.403693,28.579845,16.0
25918,Owner,0,0,1,BHK,10.000000,1,1,"Punagam,Surat",72.899374,21.216630,8.0
28658,Builder,1,1,1,BHK,90.252708,0,0,"Roha,Raigad",73.114700,18.454300,2.0

In [91]:
df_clean = df_clean[df_clean['SQUARE_FT'] >= 300].reset_index(drop=True)

In [92]:
df_clean.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",77.597960,12.969910,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",76.644605,12.274538,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",77.632191,12.778033,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",77.344500,28.642300,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",88.484911,22.592200,60.5

In [93]:
Q1 = df_clean['SQUARE_FT'].quantile(0.25)
Q3 = df_clean['SQUARE_FT'].quantile(0.75)
IQR = Q3 - Q1

df_clean = df_clean[
    (df_clean['SQUARE_FT'] >= (Q1 - 1.5 * IQR)) &
    (df_clean['SQUARE_FT'] <= (Q3 + 1.5 * IQR))
].reset_index(drop=True)

print(f"Rows after removing outliers: {len(df_clean)}")

Rows after removing outliers: 27103

In [95]:
df_clean.to_csv('DATA/cleaned_data.csv')

In [96]:
df_clean[['SQUARE_FT', 'LATITUDE', 'LONGITUDE']] = df_clean[['SQUARE_FT', 'LATITUDE', 'LONGITUDE']].round(2)

In [98]:
df_clean.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.24,1,1,"Ksfc Layout,Bangalore",77.60,12.97,55.0
1,Dealer,0,0,2,BHK,1275.00,1,1,"Vishweshwara Nagar,Mysore",76.64,12.27,51.0
2,Owner,0,0,2,BHK,933.16,1,1,"Jigani,Bangalore",77.63,12.78,43.0
3,Owner,0,1,2,BHK,929.92,1,1,"Sector-1 Vaishali,Ghaziabad",77.34,28.64,62.5
4,Dealer,1,0,2,BHK,999.01,0,1,"New Town,Kolkata",88.48,22.59,60.5

In [99]:
df_clean.to_csv('DATA/cleaned_housing_data.csv')